@font-face {
  font-family: 'Leto';
  src: url("~lato-font/fonts/lato-medium/lato-medium.woff");
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wall {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

#clock_wall {
  width: fit-content;
  position: relative;
}

#background {
  z-index: 1;
  background-color: white;
  box-shadow: 12px 12px 25px #9d9d9d;
}

.museum_label {
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  font-family: 'Leto', sans-serif;
  font-size: 3pt;
  background-color: white;
  text-align: left;
  box-shadow: 12px 12px 25px #9d9d9d;
  padding: 10px;
  z-index: 3;
  position: absolute;
  right: -30px;
  bottom: 60px;
  transform: translate(110%, 0%);
}

.museum_label:hover {
  transform: scaleY(5) scaleX(5);
  box-shadow: 1px 1px 6px #9d9d9d;
}

.museum_label + p {
  margin-top: 0;
}

.exhibit {
  display: flex;
  position: absolute;
  margin-top: auto;
}

#qr_code {
  background: url('~/src/app/assets/qr.jpg');
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
}

.no_top {
  margin-top: 0;
}